.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  border-color: lightgreen;
}

.error {
  color: red;
  border-color: lightcoral;
}