* {
  font-family: Playfair Display;
}

html {
  padding: 30px;
}

.result {
  background-color: burlywood;
  padding: 10px;
  border-radius: 0px 0 10px 10px;
}

.title {
  font-size: 50px;
  font-style: italic;
  color:darkslategrey
}

.weather {
  background-color: lightslategray;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}

p {
  margin: 20px;
}

img {
  border-radius: 100px;
  border: 5px;
  border-style: outset;
  border-color: darkslategrey;
}

input {
  padding: 5px;
  border: 2px solid burlywood;
  border-radius: 10px;
}

button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: darkslategrey;
  color: white;
}