html {
  padding: 30px;
  font-family: Playfair Display;
}

.result {
  background-color: burlywood;
  padding: 10px;
  border-radius: 0px 0 10px 10px;
}

.title {
  font-size: 50px;
  font-style: italic;
  color:darkslategrey
}

p {
  margin: 20px;
}

img {
  border-radius: 100px;
  border: 5px;
  border-style: outset;
  border-color: darkslategrey;
}

input {
  padding: 5px;
  border: 2px solid burlywood;
  border-radius: 10px;
}